{%  extends 'base.html' %}
{% block content %}
<div id="app">
  <div>
    <h1>Books</h1>
    <ul>
    {% for book in booklist %}
      <li>{{ book }}</li>
      <form action="{% url 'bookstore:add_to_cart' book.id %}" method="post">
        {% csrf_token %}
        <input type="submit" value="Add to cart">
      </form>
      <form action="{% url 'bookstore:add_to_wishlist' book.id %}" method="post">
        {% csrf_token %}
        <input type="submit" value="Add to wishlist">
      </form>
    {% endfor %}
    </ul>
  </div>
</div>


{% endblock %}
